@model  MVC_ERP.Models.Sys_PartnerGroups
    @{
        ViewBag.Title = "Customer Groups";

        <script>
            document.getElementById("LBLFormHDR").innerText = "Customer groups";
        </script>

    }

    <div style="margin-left:10px;margin-right:10px">
        <div class="row">
            <br />

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false)

            @* Hidden Fields *@
            @Html.HiddenFor(model => model.Id, new { @class = "form-control" })
            @Html.HiddenFor(model => model.GroupType, new { @class = "form-control" })
            @Html.HiddenFor(model => model.MemberShipId, new { @class = "form-control" })
            @Html.HiddenFor(model => model.Create_Uid, new { @class = "form-control" })
            @Html.HiddenFor(model => model.Create_Date, new { @class = "form-control" })
            @Html.HiddenFor(model => model.Write_Uid, new { @class = "form-control" })
            @Html.HiddenFor(model => model.Write_Date, new { @class = "form-control" })
            @Html.HiddenFor(model => model.Post, new { @class = "form-control" })
            @Html.HiddenFor(model => model.Post_Uid, new { @class = "form-control" })
            @Html.HiddenFor(model => model.Post_Date, new { @class = "form-control" })
            @Html.HiddenFor(model => model.Deleted, new { @class = "form-control" })
            @Html.HiddenFor(model => model.Delete_Uid, new { @class = "form-control" })
            @Html.HiddenFor(model => model.Delete_Date, new { @class = "form-control" })
            @* End Of Hidden Fields *@

            <div class="col-xs-12 col-sm-2">
                @Html.Label("Company")
            </div>

            <div class="col-xs-12 col-sm-10" style=" margin-bottom: 5px">
            @Html.HiddenFor(model => model.CompanyId)
            @(Html.Kendo().DropDownListFor(model => model.CompanyId)
                         .Name("CompanyList")
                         .DataTextField("Name")
                         .AutoBind(true)
                         .DataValueField("Id")
                         .HtmlAttributes(new { style = "width:100%; max-width:280px;left:0;margin:0;text-align:left" })
                         .DataSource(source =>
                          {source.Read(read =>{read.Action("FillCompanies", "GenerlaClasses"); }); })
                          .Events(e =>
                                  {
                                   e.Change("Companychange")
                                   .DataBound("Companychange");
                                    // .Select("onSelect")
                                   //  .Open("open")
                                  //   .Close("close")
                                       
                                    })

                )
            </div>
            <div class=" col-xs-12" style="width:50%; margin-left:5px;  text-align: center; height: 5px; background: #ffffff; overflow: hidden; margin-bottom: 15px; "></div>
            <div class="col-xs-12 col-sm-2" style="color: #308b09">
                @Html.Label("Hierarchical view")
            </div>
            <div class="col-xs-12 col-sm-4" style="background-color: #e9f6c8;margin-left:15px; margin-bottom: 20px;height:250px;max-width:280px">
               <br />
                 @(Html.Kendo().TreeView()
               .Name("treeview")
               .HtmlAttributes(new { @class = "demo-section", style = "color:white; width=90% ;height=100%;overflow:hidden" })
               .HtmlAttributes(new { @class = "demo-section" })
               .DataTextField("Name")
               .LoadOnDemand(true)
               .HighlightPath(true)
               .ExpandAll(true)
               .DataSource(dataSource => dataSource 
               .Read(read => read
               .Action("LoadGroups", "CustomerGroups").Data("SentCompanyId")
                         
                 )
                 )
                  //.Template("<a class='myLink' href='/CustomerGroups/Index/#: item.id #'>#: item.Name #</a>")
                  .Events(events => events
                            .Select("treeviewonSelect")
                    )
                 
                 )

              

            </div>
            <div class=" col-xs-12" style="width:50%; margin-left:50px;  text-align: center; height: 5px; background: #ffffff; overflow: hidden; margin-bottom: 15px; "></div>

            <div class="col-xs-12 col-sm-2">
                @Html.Label("Parent")
            </div>

            <div class="col-xs-12 col-sm-4" style=" margin-bottom: 5px">
                @(Html.Kendo().ComboBoxFor(model => model.ParentId)
                        .HtmlAttributes(new { @class = "kendo", style = "width:100%; max-width:280px" })
                       .Filter(FilterType.Contains)
                         .DataTextField("Name")
                         .AutoBind(true)
                         .DataValueField("Id")
                         .DataSource(source =>
                          {
                              source.Read(read =>
                              {
                                  read.Action("FillCustomerGroups", "GenerlaClasses").Data("SentCompanyId");
                              });
                          })
                )
            </div>


            <div class="col-xs-12 col-sm-2">
                @Html.Label("Code")
            </div>

            <div class="col-xs-12 col-sm-4" style="margin-bottom: 5px">
                @Html.TextBoxFor(model => model.Code, new { @class = "form-control", @placeholder = "Leave empty to generate auto code" })
            </div>

            <div class="col-xs-12 col-sm-2">
                @Html.Label("English name")
            </div>
            <div class="col-xs-12 col-sm-4" style="margin-bottom: 5px">
                @Html.TextBoxFor(model => model.NameE, new { @class = "form-control" })
            </div>
            <div class="col-xs-12 col-sm-2">
                @Html.Label("Arabic name")
            </div>
            <div class="col-xs-12 col-sm-4" style="margin-bottom: 5px">
                @Html.TextBoxFor(model => model.NameA, new { @class = "form-control" })
            </div>
            <div class="col-xs-12 col-sm-2">
                @Html.Label("Has children")
            </div>
            <div class="col-xs-12 col-sm-4" style="margin-bottom: 5px">

                @Html.CheckBoxFor(model => model.HasSub)

            </div>
            
            <div class="col-xs-12 col-sm-2">
                @Html.Label("Notes")
            </div>
            <div class="col-xs-12 col-sm-4" style="margin-bottom: 5px">

                @Html.TextBoxFor(model => model.Notes, new { @class = "form-control" })

            </div>


        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">

            @* Window *@
            @(Html.Kendo().Window().Name("window").Title("Search CustomerGroups")
            .Content(@<text>

                <br />
                <div class="row">

                    <div class="col-lg-6">
                        <div class="input-group">
                            <input id="txtSearchValue" type="text" class="form-control" style="max-width:3000px" placeholder="Search">
                            <span class="input-group-btn">
                                <button id="BtnGetSearchResult" class="btn btn-default" type="button">Go!</button>
                            </span>
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->

                <br />

                <div style="width:100%; height:300px">
                    @(Html.Kendo().Grid<MVC_ERP.Models.Sys_PartnerGroups>()
             .Name("SearchGrid")
            .AutoBind(false)
             .Columns(columns =>
             {
                 columns.Bound(c => c.Id).Visible(false);
                 columns.Bound(c => c.Code);
                 columns.Bound(c => c.NameE);
                 columns.Bound(c => c.NameA);
                 columns.Bound(c => c.Notes);
             })


                 .Sortable()
                .HtmlAttributes(new { style = "width:100%;min-height:200px;height:100%" })

                       .Scrollable(scrolling => scrolling.Height(250))
                          

                          .DataSource(dataSource => dataSource.Ajax()
                              //.ServerOperation(true)

                           .PageSize(1000)
                           .Read(read => read
                               .Action("Search", "CustomerGroups").Data("SetSearchValue")
                            ))

                     .Selectable()
                      .Filterable()
                      .EnableCustomBinding(true)

                              .Events(events => events.Change("item_selected"))

                    )

                </div>

                <br />
            
            </text>)
                            .Scrollable(false)
                            .Visible(false)
                             .Modal(true)
                             .Actions(actions => actions.Close())
                             .Events(ev => ev.Close("onClose"))


            )




        </div>

    </div>
     @* End Window *@
     @*Close from here don't have Open Open it in Layout page*@
    </form>


    @*  Window Events *@
    <script>
        function Companychange(e) {

        };
        function Branchchange(e) {

        };
        $(document).ready(function () {
            $("#DivCompanies").hide();
            $("#DivBranches").hide();
            $("#CmbFinancialYear").data("kendoDropDownList").wrapper.hide();
        })

        function onClose() {
            //$("#undo").show();
        }

        function SetSearchValue() {
            var info = $("#txtSearchValue").val();
            var CompInfo = $("#CompanyList").val();
            if (info) {
                return {
                  
                    CompanySearchId: CompInfo,
                    TxtSearchVal: info
                };
            }
        }

        $(document).ready(function () {
            $("#BtnSearch").bind("click", function () {
                $("#window").data("kendoWindow").center().open();

                var cc = $("#CompanyList").val();
                $("#SearchGrid").data("kendoGrid").dataSource.read({ "CompanySearchId": cc });

            });
        });

        
        $("#BtnCloseWindow").click(function (e) {
            $("#window").data("kendoWindow").close();
        });


        $("#BtnGetSearchResult").click(function () {
 
            var cc = $("#CompanyList").val();
            $("#SearchGrid").data("kendoGrid").dataSource.read({ "CompanySearchId": cc });
        })


   
        //Grid

        function item_selected(e) {
            var grid = $("#SearchGrid").data("kendoGrid");
            var id;

            grid.select().each(function () {
                var dataItem = grid.dataItem($(this));
                id = dataItem.Id;
            });

            window.location.href = "@Url.Content("~/CustomerGroups/Index/")" + id;
        }

    </script>
@*  End Window Events *@



@* Combo Box Events *@
<script>

    function SentCompanyId() {
        var CompInfo = $("#CompanyList").val();
        if (CompInfo) {
            return {
                CompanyId: CompInfo,
            };
        }
    }

    function onSelect(e) {

    };

    function Companychange(e) {
        //Change value of hidden field
        $('#CompanyId').val(e.sender.value());

        //Post form to load only CustomerGroups related to company
       
            $.post("@Url.Action("CompanyChanged", "CustomerGroups")", { CompanyList: e.sender.value() },
             function (json) {
                 if ('@TempData["SelectedID"]' != e.sender.value()) {
                 window.location.href = "@Url.Content("~/CustomerGroups/Index/")" + json.id; 
                 }
             });
        
    };



</script>

@* End Combo Box Events *@

<script>
    //treeview selected changed
    function treeviewonSelect(e) {
        var tv = $("#treeview").data("kendoTreeView");
        var item = tv.dataItem(e.node);
        //alert(item.id);
      
        $.post("@Url.Action("TreeViewChanged", "CustomerGroups")", { SelectedId: item.id, CompanyList: $("#CompanyList").val() },
          function (data) {
        
              //Set All Model fields to avoid refreshing

              $("#Id").val(data.Id);
              $("#ParentId").val(data.ParentId);
             
              $('#HasSub').prop('checked', data.HasSub); // if you want to appear checkbox 
      
          
              $("#GroupType").val(data.GroupType);
              $("#ParentId").data("kendoComboBox").value(data.ParentId);
              $("#MemberShipId").val(data.MemberShipId);
              $("#Create_Uid").val(data.Create_Uid);
              $("#Create_Date").val(getDateFromAspString(data.Create_Date).toDateString());
              $("#Write_Uid").val(data.Write_Uid);
              $("#Write_Date").val(getDateFromAspString(data.Write_Date).toDateString());
              $("#Post").val(data.Post);
              $("#Post_Uid").val(data.Post_Uid);
              $("#Post_Date").val(getDateFromAspString(data.Post_Date).toDateString());
              $("#Deleted").val(data.Deleted);
              $("#Delete_Uid").val(data.Delete_Uid);
              $("#Delete_Date").val(getDateFromAspString(data.Delete_Date).toDateString());
              $("#Code").val(data.Code);
              $("#NameE").val(data.NameE);
              $("#NameA").val(data.NameA);
              $("#Notes").val(data.Notes);
             
   


       
    });

    }
 
</script>

@* General *@

    <script>

        function getDateFromAspString(aspString) {
            if (aspString == null) { return new Date(Date.now()) }
            var epochMilliseconds = aspString.replace(
                /^\/Date\(([0-9]+)([+-][0-9]{4})?\)\/$/,
                '$1');
            if (epochMilliseconds != aspString) {
                var d = new Date(parseInt(epochMilliseconds));
                return d;
            }
        }


        $("#BtnCreate").click(function () {

            $(document).ready(function () {

                $("input.form-control").val('');
                $("hidden").val('');
                $("#Id").val('0');
                $("#MemberShipId").val('0');
                $("#GroupType").val('1');

             
                var tv = $("#treeview").data("kendoTreeView");
                var selectedNode = tv.select();
                var item = tv.dataItem(selectedNode);
                if (item) {
                    $("#ParentId").data("kendoComboBox").value(item.id);
                } else {
                    $("#ParentId").data("kendoComboBox").value('');
                }
                $('input:checkbox').prop('checked', false);
             
            });

        })

        //ComboBox Events
        function DataBoundEvent() {

        }

        function SelectEvent(e) {


        }
    </script>
@* End General *@

