@model  MVC_ERP.Models.Sys_Cities
    @{
        ViewBag.Title = "Cities";

        <script>
            document.getElementById("LBLFormHDR").innerText = "Cities";
        </script>

    }

    <div style="margin-left:10px;margin-right:10px">
        <div class="row">
            <br />

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false)

            @* Hidden Fields *@
            @Html.HiddenFor(model => model.Id, new { @class = "form-control" })
            @Html.HiddenFor(model => model.MemberShipId, new { @class = "form-control" })
            @Html.HiddenFor(model => model.Create_Uid, new { @class = "form-control" })
            @Html.HiddenFor(model => model.Create_Date, new { @class = "form-control" })
            @Html.HiddenFor(model => model.Write_Uid, new { @class = "form-control" })
            @Html.HiddenFor(model => model.Write_Date, new { @class = "form-control" })
            @Html.HiddenFor(model => model.Post, new { @class = "form-control" })
            @Html.HiddenFor(model => model.Post_Uid, new { @class = "form-control" })
            @Html.HiddenFor(model => model.Post_Date, new { @class = "form-control" })
            @Html.HiddenFor(model => model.Deleted, new { @class = "form-control" })
            @Html.HiddenFor(model => model.Delete_Uid, new { @class = "form-control" })
            @Html.HiddenFor(model => model.Delete_Date, new { @class = "form-control" })
            @* End Of Hidden Fields *@

            <div class="col-xs-12 col-sm-2">
                @Html.Label("Country")
            </div>

            <div class="col-xs-12 col-sm-10" style="margin-bottom: 5px">
            @Html.HiddenFor(model => model.CountryId)
            @(Html.Kendo().DropDownListFor(model => model.CountryId)
                         .Name("CountryList")
                         .DataTextField("Name")
                         .AutoBind(true)
                         .DataValueField("Id")
                         .HtmlAttributes(new { style = "width:100%; max-width:280px" })
                         .DataSource(source =>
                          {source.Read(read =>{read.Action("FillCountries", "GenerlaClasses"); }); })
                          .Events(e =>
                                  {
                                   e.Change("Countrychange")
                                   .DataBound("Countrychange");
                                    // .Select("onSelect")
                                   //  .Open("open")
                                  //   .Close("close")
                                       
                                    })

                )
            </div>

            <div class="col-xs-12 col-sm-2">
                @Html.Label("Code")
            </div>
            <div class="col-xs-12 col-sm-10" style="margin-bottom: 5px">
                @Html.TextBoxFor(model => model.Code, new { @class = "form-control", @placeholder = "Leave empty to generate auto code" })
            </div>

            <div class="col-xs-12 col-sm-2">
                @Html.Label("English name")
            </div>
            <div class="col-xs-12 col-sm-4" style="margin-bottom: 5px">
                @Html.TextBoxFor(model => model.NameE, new { @class = "form-control" })
            </div>
            <div class="col-xs-12 col-sm-2">
                @Html.Label("Arabic name")
            </div>
            <div class="col-xs-12 col-sm-4" style="margin-bottom: 5px">
                @Html.TextBoxFor(model => model.NameA, new { @class = "form-control" })
            </div>

            <div class="col-xs-12 col-sm-2">
                @Html.Label("Zip")
            </div>
            <div class="col-xs-12 col-sm-4" style="margin-bottom: 5px">
                @Html.TextBoxFor(model => model.ZipCode, new { @class = "form-control" })
            </div>
            <div class="col-xs-12 col-sm-2">
                @Html.Label("Notes")
            </div>
            <div class="col-xs-12 col-sm-4" style="margin-bottom: 5px">
                @Html.TextBoxFor(model => model.Notes, new { @class = "form-control" })
            </div>
            


        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">

            @* Window *@
            @(Html.Kendo().Window().Name("window").Title("Search Cities")
            .Content(@<text>

                <br />
                <div class="row">

                    <div class="col-lg-6">
                        <div class="input-group">
                            <input id="txtSearchValue" type="text" class="form-control" style="max-width:3000px" placeholder="Search">
                            <span class="input-group-btn">
                                <button id="BtnGetSearchResult" class="btn btn-default" type="button">Go!</button>
                            </span>
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->

                <br />

                <div style="width:100%; height:300px">
                    @(Html.Kendo().Grid<MVC_ERP.Models.Sys_Cities>()
             .Name("SearchGrid")
            .AutoBind(false)
             .Columns(columns =>
             {
                 columns.Bound(c => c.Id).Visible(false);
                 columns.Bound(c => c.Code);
                 columns.Bound(c => c.NameE);
                 columns.Bound(c => c.NameA);
                 columns.Bound(c => c.ZipCode);
             })


                 .Sortable()
                .HtmlAttributes(new { style = "width:100%;min-height:200px;height:100%" })

                       .Scrollable(scrolling => scrolling.Height(250))
                          

                          .DataSource(dataSource => dataSource.Ajax()
                              //.ServerOperation(true)

                           .PageSize(1000)
                           .Read(read => read
                               .Action("Search", "Cities").Data("SetSearchValue")
                            ))

                     .Selectable()
                      .Filterable()
                      .EnableCustomBinding(true)

                              .Events(events => events.Change("item_selected"))

                    )

                </div>

                <br />
            
            </text>)
                            .Scrollable(false)
                            .Visible(false)
                             .Modal(true)
                             .Actions(actions => actions.Close())
                             .Events(ev => ev.Close("onClose"))


            )




        </div>

    </div>
     @* End Window *@
     @*Close from here don't have Open Open it in Layout page*@
    </form>


    @*  Window Events *@
    <script>
        function Companychange(e) {

        };
        function Branchchange(e) {

        };
        $(document).ready(function () {
            $("#DivCompanies").hide();
            $("#DivBranches").hide();
            $("#CmbFinancialYear").data("kendoDropDownList").wrapper.hide();
        })

        function onClose() {
            //$("#undo").show();
        }

        function SetSearchValue() {
            var info = $("#txtSearchValue").val();
            var CountryInfo = $("#CountryList").val();
            if (info) {
                return {
                  
                    CountrySearchId: CountryInfo,
                    TxtSearchVal: info
                };
            }
        }

        $(document).ready(function () {
            $("#BtnSearch").bind("click", function () {
                $("#window").data("kendoWindow").center().open();

                var cc = $("#CountryList").val();
                $("#SearchGrid").data("kendoGrid").dataSource.read({ "CountrySearchId": cc });

            });
        });

        
        $("#BtnCloseWindow").click(function (e) {
            $("#window").data("kendoWindow").close();
        });


        $("#BtnGetSearchResult").click(function () {
 
            var cc = $("#CountryList").val();
            $("#SearchGrid").data("kendoGrid").dataSource.read({ "CountrySearchId": cc });
        })


   
        //Grid

        function item_selected(e) {
            var grid = $("#SearchGrid").data("kendoGrid");
            var id;

            grid.select().each(function () {
                var dataItem = grid.dataItem($(this));
                id = dataItem.Id;
            });

            window.location.href = "@Url.Content("~/Cities/Index/")" + id;
        }

    </script>
@*  End Window Events *@



@* Combo Box Events *@
<script>

    function onSelect(e) {

    };

    function Countrychange(e) {
        //Change value of hidden field
        $('#CountryId').val(e.sender.value());

        //Post form to load only branches related to company
       
            $.post("@Url.Action("CountryChanged", "Cities")", { CountryList: e.sender.value() },
             function (json) {
                 if ('@TempData["SelectedID"]' != e.sender.value()) {
                 window.location.href = "@Url.Content("~/Cities/Index/")" + json.id; 
                 }
             });
        
    };



</script>

@* End Combo Box Events *@


@* General *@

    <script>
        $("#BtnCreate").click(function () {

            $(document).ready(function () {

                $("input.form-control").val('');
                $("hidden").val('');
                $("#Id").val('0');
                $("#MemberShipId").val('0');

          
             
            });

        })

        //ComboBox Events
        function DataBoundEvent() {

        }

        function SelectEvent(e) {

  
        }
    </script>
@* End General *@

